
*.xccheckout

*.xcbkptlist

TWRadiationApp.xcodeproj/project.xcworkspace/xcuserdata/charleslu.xcuserdatad/UserInterfaceState.xcuserstate

TWRadiationApp.xcodeproj/xcuserdata/charleslu.xcuserdatad/xcschemes/TWRadiationApp.xcscheme

TWRadiationApp.xcodeproj/xcuserdata/charleslu.xcuserdatad/xcschemes/xcschememanagement.plist
